// Fonts
$ms-madi: "Ms Madi", "Comic Sans MS", "Comic Sans", cursive;
$mukta: "Mukta", Arial, Helvetica, sans-serif;

//Titles
$size-title-big: 2.5rem;
$size-title--medium: 1.5rem;
$size-subtitle: 1.25rem;

//Paragraphs
$size-paragraph-very-small: 0.62rem;
$size-paragraph-small: 0.75rem;
$size-paragraph-medium: 0.9rem;
$size-paragraph-big: 1.125rem;
