@use "../../styles/_variables/_colors.scss" as _color;
@use "../../styles/_variables/_fonts.scss" as _font;
@use "../../styles/_variables/_sizes.scss" as _sizes;
@use "../../styles/_mixins/_container.scss" as _container;
@use "../../styles/_mixins/_link.scss" as _link;

.container {
  @include _container.flex_container(row, space-between, center);
  background: _color.$pastel-salmon;
  width: 100%;
  min-height: 5rem;
  border-radius: 0 12.5rem 0 0;
  padding: 0 3rem 0 6rem;

  .footerLogoAndNavbar {
    @include _container.flex_container(row, flex-start, center);

    .tsumeLogo {
      max-width: 5rem;
    }
  }
}
