@use "../_variables/colors.scss" as _color;

@mixin primary {
  background-color: transparent;
  border: 0;
  font-size: 1rem;
  padding: 0;
  cursor: pointer;
  text-decoration: underline;
  color: _color.$color-violet;
}
